[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = Mcor52
	email = 193207978+Mcor52@users.noreply.github.com
[lfs]
	concurrenttransfers = 3
[lfs "customtransfer.xet"]
	path = git-xet
	args = transfer
	concurrent = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
