* {
  border: none;
  border-radius: 8;
  font-family: "Hack Nerd Font";
  font-size: 14px;
  min-height: 20px;
}

window#waybar { 
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: transparent;
  background: transparent;
}

#workspaces {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
  border-radius: 10px;
  background: #282828;
  /* default: background: #161320; */
  transition: none;
}

#workspaces button {
  transition: none;
  color: #fbf1c7;
  background: transparent;
  border-radius: 2px; 
  padding: 0px 12px; 
}

#workspaces button.active {
  color:#d8a657;
}

#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #d65d0e;
  border-color: #d65d0e;
}

#network {
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #d8a657;
}

#wireplumber {
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #d8a657;
}

#battery {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #e78a4e;
}

#battery.critical:not(.charging) {
  background-color: #b5e8e0;
  color: #fbf1c7;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #bf616a;
    color: #b5e8e0;
  }
}


#clock {
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #ea6962;
}

#temperature {
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #e78a4e;
}

#custom-launcher {
  font-size: 18px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 14px;
  padding-right: 9px;
  border-radius: 10px;
  transition: none;
  color: #fbf1c7;
  background: #ea6962;
}

#custom-media {
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #f2cdcd;
}
