* {
  border: none;
  border-radius: 0;
  font-family: "Inter Nerd Font Propo";
  font-size: 14px;
  min-height: 20px;
  background: #4c4f69;
}

#window {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: transparent;
  background: transparent;
}

#workspaces {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
  border-radius: 10px;
  background: #eff1f5;
  transition: none;
}

#workspaces button {
  transition: none;
  color: #eff1f5;
  background: #4c4f69; 
  padding: 0px 12px;
}

#workspaces button.active {
  color: #e64553;
}

#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #fe640b;
  border-color: #fe640b;
}

#network {
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 50px;
  transition: none;
  color: #fe640b;
  background: #eff1f5;
}

#wireplumber {
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 50px;
  transition: none;
  color: #ea76cb;
  background: #eff1f5;
}

#battery {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 50px;
  transition: none;
  color: #8839ef;
  background: #eff1f5;
}

#battery.critical:not(.charging) {
  background-color: #d20f39;
  color: #eff1f5;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #d20f39;
    color: #eff1f5;
  }
}


#clock {
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 50px;
  transition: none;
  color: #40a02b;
  background: #eff1f5;
}

#temperature {
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 50px;
  transition: none;
  color: #df8e1d;
  background: #eff1f5;
}

#custom-launcher {
  font-size: 18px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 14px;
  padding-right: 9px;
  border-radius: 50px;
  transition: none;
  color: #7287fd;
  background: #eff1f5;
}

#custom-media {
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 50px;
  transition: none;
  color: #161320;
  background: #f2cdcd;
}
